footer {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}


ul#horizontal-list li {
		display: inline;
}

