footer {
    position: relative;
    left:0;
    bottom:0;
    right:0;
	background-color: #C7C8CA;
	color:#C1232C;
}

.about {
	display: flex;
	align-items: flex-end;
	background-color:#27201e;
	color: #C1232C;
  }

.aboutMe{
	display: flex;
	align-items: center;
}

.abText{
	margin: 10px;

}

.header{
	background-color: #C7C8CA;
	color: #C1232C
}

.photo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.head{
	background-color:#C7C8CA;
	color:#C1232C;  
}

.container{
	background-color: #C7C8CA;
}
